@import "tailwindcss";

:root {
  --background: #f4f5f6;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-system: var(--font-quicksand);
  --font-user: var(--font-indie-flower);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
